include README.md
include LICENSE
include frankAllSkyCam/defaults/config.txt
include frankAllSkyCam/defaults/sqmexp.csv
recursive-include frankAllSkyCam/defaults/png *.png
recursive-include frankAllSkyCam/defaults/tools *.py *.conf *.html
recursive-include frankAllSkyCam/log *.txt
recursive-include frankAllSkyCam/img *.txt
recursive-include frankAllSkyCam/sqm *.txt
